body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: rgb(17, 11, 11);
	background: #bd8989; 
	font-size: 1em;
	line-height: 1.5em;
}

h1 {
	background-color: darksalmon;
    font-size: 3rem;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

img{
    border: 4px solid; 
    color: rgb(255, 255, 255);
    width: 20%;
    height: 30%;
    display:block;
    margin:auto;
}
.boton {
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    margin-top: 9px;
    margin-left: 9px;
    padding: 5px; /*espacio alrededor texto*/
    background-color: #031b41; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 30px; /*bordes redondos*/
    float: left;
}