body {
  background-color: hsl(165, 99%, 32%);
  font-family: sans-serif;
}

h1 {
  color: hsla(0, 0%, 100%, 0.952);
  text-transform: uppercase;
}

p {
  font-size: 2rem;
}

p.intro {
  color: hsl(197, 100%, 53%);
}

summary {
  font-size: 4rem;
}

span.par {
  background-color: white;
}

span.impar {
  background-color: hsl(325, 100%, 90%);
}